<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.pokemonacademy">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gamelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gamelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Control.Leaderboard"
            android:label="The Leaderboard"></activity>
        <activity android:name=".Control.IndividualReportList" />
        <activity android:name=".Control.IndividualSummaryReport" />
        <activity android:name=".Control.OverallSummaryReport" />
        <activity android:name=".Control.SummaryReport" />
        <activity android:name=".Control.QuizSummary" />
        <activity android:name=".Control.FinalQuiz" />
        <activity android:name=".Control.FinalQuizPerformanceReport" />
        <activity
            android:name=".Control.MiniQuizLandingPage"
            android:label="@string/title_activity_mini_quiz_landing_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Control.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Control.TopicActivity" />
        <activity android:name=".Control.WorldActivity" />
        <activity android:name=".Control.LoginActivity" />
        <activity android:name=".Control.ContentActivity" />
        <activity android:name=".Control.MiniQuiz" />
        <activity android:name=".Control.ChooseCharacterActivity" />
    </application>

</manifest>